<a href="https://colab.research.google.com/github/afeld/nyu-python-public-policy/blob/master/lecture_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **NYU Wagner - Python Coding for Public Policy**
# Class 2 (Nov 7): Manipulating/combining DataFrames and writing functions

# LECTURE

## **Today's goal**: Which Community Districts have the most 311 requests? Why might that be?

What's a Community District?
- 59 local governance districts each run by an appointed Community Board
- Community boards advise on land use and zoning, participate in the city budget process, and address service delivery in their district.
- Community boards are each composed of <= 50 volunteer members appointed by the local borough president, half from nominations by the local City Council members.

[More info](https://en.wikipedia.org/wiki/Community_boards_of_New_York_City)

![Map of community districts from Wikipedia](https://upload.wikimedia.org/wikipedia/commons/4/41/New_York_City_community_districts.svg)

## Start by importing necessary packages

In [ ]:
import pandas as pd
from google.colab import drive

In [ ]:
# You can use pd.set_option() to make sure you see all the rows and columns in your dataframe
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Read and save our cleaned 311 Service Requests dataset as a pandas dataframe named "df"

In [ ]:
drive.mount('/content/drive')
# follow the link it generates, choose your account, and then paste in the authorization code it provides

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Data for Python/cleaned_311_data.csv', header='infer')

## View the contents of the `community_board` column in our 311 data

In [ ]:
set(df.community_board)

{'0 Unspecified',
 '01 BRONX',
 '01 BROOKLYN',
 '01 MANHATTAN',
 '01 QUEENS',
 '01 STATEN ISLAND',
 '02 BRONX',
 '02 BROOKLYN',
 '02 MANHATTAN',
 '02 QUEENS',
 '02 STATEN ISLAND',
 '03 BRONX',
 '03 BROOKLYN',
 '03 MANHATTAN',
 '03 QUEENS',
 '03 STATEN ISLAND',
 '04 BRONX',
 '04 BROOKLYN',
 '04 MANHATTAN',
 '04 QUEENS',
 '05 BRONX',
 '05 BROOKLYN',
 '05 MANHATTAN',
 '05 QUEENS',
 '06 BRONX',
 '06 BROOKLYN',
 '06 MANHATTAN',
 '06 QUEENS',
 '07 BRONX',
 '07 BROOKLYN',
 '07 MANHATTAN',
 '07 QUEENS',
 '08 BRONX',
 '08 BROOKLYN',
 '08 MANHATTAN',
 '08 QUEENS',
 '09 BRONX',
 '09 BROOKLYN',
 '09 MANHATTAN',
 '09 QUEENS',
 '10 BRONX',
 '10 BROOKLYN',
 '10 MANHATTAN',
 '10 QUEENS',
 '11 BRONX',
 '11 BROOKLYN',
 '11 MANHATTAN',
 '11 QUEENS',
 '12 BRONX',
 '12 BROOKLYN',
 '12 MANHATTAN',
 '12 QUEENS',
 '13 BROOKLYN',
 '13 QUEENS',
 '14 BROOKLYN',
 '14 QUEENS',
 '15 BROOKLYN',
 '16 BROOKLYN',
 '17 BROOKLYN',
 '18 BROOKLYN',
 '26 BRONX',
 '27 BRONX',
 '28 BRONX',
 '55 BROOKLYN',
 '56 BROOKLYN',
 '64 MANHATTAN',
 '80 QUEENS',
 '81 QUEENS',
 '82 QUEENS',
 '83 QUEENS',
 '84 QUEENS',
 '95 STATEN ISLAND',
 'Unspecified BRONX',
 'Unspecified BROOKLYN',
 'Unspecified MANHATTAN',
 'Unspecified QUEENS',
 'Unspecified STATEN ISLAND'}

## Get the count of 311 requests per Community District

In [ ]:
cb_counts = df.groupby('community_board').size().reset_index(name='count_of_311_requests').sort_values('count_of_311_requests', ascending=False)

In [ ]:
cb_counts

              community_board  count_of_311_requests
50               12 MANHATTAN                  81402
23                  05 QUEENS                  71506
51                  12 QUEENS                  70361
2                 01 BROOKLYN                  68101
12                03 BROOKLYN                  66360
5            01 STATEN ISLAND                  65145
31                  07 QUEENS                  63634
21                05 BROOKLYN                  61836
16                   04 BRONX                  61086
4                   01 QUEENS                  60425
58                17 BROOKLYN                  58864
54                14 BROOKLYN                  57194
28                   07 BRONX                  55735
59                18 BROOKLYN                  54523
39                  09 QUEENS                  54421
53                  13 QUEENS                  54003
48                   12 BRONX                  53688
45                11 BROOKLYN                  52801
20                   05 BRONX                  51820
13               03 MANHATTAN                  51399
42               10 MANHATTAN                  50024
17                04 BROOKLYN                  49552
35                  08 QUEENS                  49221
56                15 BROOKLYN                  48739
15           03 STATEN ISLAND                  48729
43                  10 QUEENS                  48707
49                12 BROOKLYN                  46420
30               07 MANHATTAN                  46230
36                   09 BRONX                  46044
7                 02 BROOKLYN                  44061
41                10 BROOKLYN                  43990
33                08 BROOKLYN                  43872
37                09 BROOKLYN                  42655
25                06 BROOKLYN                  42539
10           02 STATEN ISLAND                  40179
0               0 Unspecified                  39385
38               09 MANHATTAN                  39260
14                  03 QUEENS                  39240
73       Unspecified BROOKLYN                  38959
18               04 MANHATTAN                  38819
34               08 MANHATTAN                  38327
74      Unspecified MANHATTAN                  37652
44                   11 BRONX                  37505
22               05 MANHATTAN                  37466
8                02 MANHATTAN                  36688
29                07 BROOKLYN                  36290
9                   02 QUEENS                  35238
19                  04 QUEENS                  33501
40                   10 BRONX                  32879
32                   08 BRONX                  32807
47                  11 QUEENS                  32628
24                   06 BRONX                  32439
46               11 MANHATTAN                  32428
72          Unspecified BRONX                  30591
55                  14 QUEENS                  30350
26               06 MANHATTAN                  29874
11                   03 BRONX                  29738
57                16 BROOKLYN                  28742
75         Unspecified QUEENS                  28459
1                    01 BRONX                  27353
27                  06 QUEENS                  26407
52                13 BROOKLYN                  22156
3                01 MANHATTAN                  21259
6                    02 BRONX                  20039
76  Unspecified STATEN ISLAND                   3133
69                  83 QUEENS                   1100
65               64 MANHATTAN                    723
66                  80 QUEENS                    582
68                  82 QUEENS                    452
63                55 BROOKLYN                    365
67                  81 QUEENS                    239
60                   26 BRONX                    163
62                   28 BRONX                    134
71           95 STATEN ISLAND                    115
61                   27 BRONX                    105
64                56 BROOKLYN                     88
70                  84 QUEENS                     67

## **Research Question:** What may account for the variance in count of requests per community district?

## **Hypothesis:** Population size may help explain the variance. We can combine the counts per community district dataset with population data for each community district.

## Let's load the population dataset and check out its contents

In [ ]:
# Data source for population by Community District: https://data.cityofnewyork.us/City-Government/New-York-City-Population-By-Community-Districts/xi7c-iiu2/data
population = pd.read_csv('/content/drive/My Drive/Data for Python/New_York_City_Population_By_Community_Districts.csv', header='infer')
population.head()

,Borough,CD Number,CD Name,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population
0,Bronx,1,"Melrose, Mott Haven, Port Morris",138557,78441,77214,82159,91497
1,Bronx,2,"Hunts Point, Longwood",99493,34399,39443,46824,52246
2,Bronx,3,"Morrisania, Crotona Park East",150636,53635,57162,68574,79762
3,Bronx,4,"Highbridge, Concourse Village",144207,114312,119962,139563,146441
4,Bronx,5,"University Hts., Fordham, Mt. Hope",121807,107995,118435,128313,128200

## In order to join the two dataframes, we need to create a common ID in each. `borocd` is commonly used a unique ID for community districts. Let's create functions that create that unique ID in our datasets.

**BoroCD** is a 3 digit integer that captures the borough and district number. The borough is represented by the first digit. The district number is padded with zeros so it's always two digits long.

Boroughs are recoded into the following numbers:
- 1: Manhattan
- 2: Bronx
- 3: Brooklyn
- 4: Queens
- 5: Staten Island

Ex: 
- Manhattan 12 --> 112
- Brooklyn 6 --> 306

### First, let's create a `borocd` column in `cb_counts` dataframe

In [ ]:
cb_counts.head()

   community_board  count_of_311_requests
50    12 MANHATTAN                  81402
23       05 QUEENS                  71506
51       12 QUEENS                  70361
2      01 BROOKLYN                  68101
12     03 BROOKLYN                  66360

In [ ]:
# let's create a function called recode_borocd_counts that converts the community_board value into a borocd value

def recode_borocd_counts(row):
  if 'MANHATTAN' in row.community_board:
    return '1' + row.community_board[0:2]
    # [0:2] provides the first 2 characters, i.e. characters at indexes 0 and 1.
    # you could also use [:2] without the zero.
  elif 'BRONX' in row.community_board:
    return '2' + row.community_board[0:2]
  elif 'BROOKLYN' in row.community_board:
    return '3' + row.community_board[0:2]
  elif 'QUEENS' in row.community_board:
    return '4' + row.community_board[0:2]
  elif 'STATEN ISLAND' in row.community_board:
    return '5' + row.community_board[0:2]
  else:
    return 'Invalid BoroCD'

In [ ]:
type(recode_borocd_counts)

function

**Note:** The order of steps is important. You have to define a function before you can apply it to a dataframe.

In [ ]:
cb_counts['borocd'] = cb_counts.apply(recode_borocd_counts, axis=1) # axis = 1 specifies that you want to apply the function across the rows instead of columns
# cb_counts['borocd'] creates a new column in the dataframe called borocd
# cb_counts.apply(function, axis) applies the function we defined across the specified axis

cb_counts

              community_board  count_of_311_requests          borocd
50               12 MANHATTAN                  81402             112
23                  05 QUEENS                  71506             405
51                  12 QUEENS                  70361             412
2                 01 BROOKLYN                  68101             301
12                03 BROOKLYN                  66360             303
5            01 STATEN ISLAND                  65145             501
31                  07 QUEENS                  63634             407
21                05 BROOKLYN                  61836             305
16                   04 BRONX                  61086             204
4                   01 QUEENS                  60425             401
58                17 BROOKLYN                  58864             317
54                14 BROOKLYN                  57194             314
28                   07 BRONX                  55735             207
59                18 BROOKLYN                  54523             318
39                  09 QUEENS                  54421             409
53                  13 QUEENS                  54003             413
48                   12 BRONX                  53688             212
45                11 BROOKLYN                  52801             311
20                   05 BRONX                  51820             205
13               03 MANHATTAN                  51399             103
42               10 MANHATTAN                  50024             110
17                04 BROOKLYN                  49552             304
35                  08 QUEENS                  49221             408
56                15 BROOKLYN                  48739             315
15           03 STATEN ISLAND                  48729             503
43                  10 QUEENS                  48707             410
49                12 BROOKLYN                  46420             312
30               07 MANHATTAN                  46230             107
36                   09 BRONX                  46044             209
7                 02 BROOKLYN                  44061             302
41                10 BROOKLYN                  43990             310
33                08 BROOKLYN                  43872             308
37                09 BROOKLYN                  42655             309
25                06 BROOKLYN                  42539             306
10           02 STATEN ISLAND                  40179             502
0               0 Unspecified                  39385  Invalid BoroCD
38               09 MANHATTAN                  39260             109
14                  03 QUEENS                  39240             403
73       Unspecified BROOKLYN                  38959             3Un
18               04 MANHATTAN                  38819             104
34               08 MANHATTAN                  38327             108
74      Unspecified MANHATTAN                  37652             1Un
44                   11 BRONX                  37505             211
22               05 MANHATTAN                  37466             105
8                02 MANHATTAN                  36688             102
29                07 BROOKLYN                  36290             307
9                   02 QUEENS                  35238             402
19                  04 QUEENS                  33501             404
40                   10 BRONX                  32879             210
32                   08 BRONX                  32807             208
47                  11 QUEENS                  32628             411
24                   06 BRONX                  32439             206
46               11 MANHATTAN                  32428             111
72          Unspecified BRONX                  30591             2Un
55                  14 QUEENS                  30350             414
26               06 MANHATTAN                  29874             106
11                   03 BRONX                  29738             203
57                16 BROOKLYN                  28742             316
75         Unspecified QUEENS                  28459             4Un
1                    01 BRONX                  27353             201
27                  06 QUEENS                  26407             406
52                13 BROOKLYN                  22156             313
3                01 MANHATTAN                  21259             101
6                    02 BRONX                  20039             202
76  Unspecified STATEN ISLAND                   3133             5Un
69                  83 QUEENS                   1100             483
65               64 MANHATTAN                    723             164
66                  80 QUEENS                    582             480
68                  82 QUEENS                    452             482
63                55 BROOKLYN                    365             355
67                  81 QUEENS                    239             481
60                   26 BRONX                    163             226
62                   28 BRONX                    134             228
71           95 STATEN ISLAND                    115             595
61                   27 BRONX                    105             227
64                56 BROOKLYN                     88             356
70                  84 QUEENS                     67             484

In [ ]:
# uh oh, there are some unexpected "Unspecified" values in here - how can we get around them? let's only recode records that don't start with "U"
def recode_borocd_counts(row):
  if 'MANHATTAN' in row.community_board and row.community_board[0] != 'U':
      return '1' + row.community_board[:2]
  elif 'BRONX' in row.community_board and row.community_board[0] != 'U':
      return '2' + row.community_board[:2]
  elif 'BROOKLYN' in row.community_board and row.community_board[0] != 'U':
      return '3' + row.community_board[:2]
  elif 'QUEENS' in row.community_board and row.community_board[0] != 'U':
      return '4' + row.community_board[:2]
  elif 'STATEN ISLAND' in row.community_board and row.community_board[0] != 'U':
      return '5' + row.community_board[:2]
  else:
    return 'Invalid BoroCD'

cb_counts['borocd'] = cb_counts.apply(recode_borocd_counts, axis=1)
cb_counts

              community_board  count_of_311_requests          borocd
50               12 MANHATTAN                  81402             112
23                  05 QUEENS                  71506             405
51                  12 QUEENS                  70361             412
2                 01 BROOKLYN                  68101             301
12                03 BROOKLYN                  66360             303
5            01 STATEN ISLAND                  65145             501
31                  07 QUEENS                  63634             407
21                05 BROOKLYN                  61836             305
16                   04 BRONX                  61086             204
4                   01 QUEENS                  60425             401
58                17 BROOKLYN                  58864             317
54                14 BROOKLYN                  57194             314
28                   07 BRONX                  55735             207
59                18 BROOKLYN                  54523             318
39                  09 QUEENS                  54421             409
53                  13 QUEENS                  54003             413
48                   12 BRONX                  53688             212
45                11 BROOKLYN                  52801             311
20                   05 BRONX                  51820             205
13               03 MANHATTAN                  51399             103
42               10 MANHATTAN                  50024             110
17                04 BROOKLYN                  49552             304
35                  08 QUEENS                  49221             408
56                15 BROOKLYN                  48739             315
15           03 STATEN ISLAND                  48729             503
43                  10 QUEENS                  48707             410
49                12 BROOKLYN                  46420             312
30               07 MANHATTAN                  46230             107
36                   09 BRONX                  46044             209
7                 02 BROOKLYN                  44061             302
41                10 BROOKLYN                  43990             310
33                08 BROOKLYN                  43872             308
37                09 BROOKLYN                  42655             309
25                06 BROOKLYN                  42539             306
10           02 STATEN ISLAND                  40179             502
0               0 Unspecified                  39385  Invalid BoroCD
38               09 MANHATTAN                  39260             109
14                  03 QUEENS                  39240             403
73       Unspecified BROOKLYN                  38959  Invalid BoroCD
18               04 MANHATTAN                  38819             104
34               08 MANHATTAN                  38327             108
74      Unspecified MANHATTAN                  37652  Invalid BoroCD
44                   11 BRONX                  37505             211
22               05 MANHATTAN                  37466             105
8                02 MANHATTAN                  36688             102
29                07 BROOKLYN                  36290             307
9                   02 QUEENS                  35238             402
19                  04 QUEENS                  33501             404
40                   10 BRONX                  32879             210
32                   08 BRONX                  32807             208
47                  11 QUEENS                  32628             411
24                   06 BRONX                  32439             206
46               11 MANHATTAN                  32428             111
72          Unspecified BRONX                  30591  Invalid BoroCD
55                  14 QUEENS                  30350             414
26               06 MANHATTAN                  29874             106
11                   03 BRONX                  29738             203
57                16 BROOKLYN                  28742             316
75         Unspecified QUEENS                  28459  Invalid BoroCD
1                    01 BRONX                  27353             201
27                  06 QUEENS                  26407             406
52                13 BROOKLYN                  22156             313
3                01 MANHATTAN                  21259             101
6                    02 BRONX                  20039             202
76  Unspecified STATEN ISLAND                   3133  Invalid BoroCD
69                  83 QUEENS                   1100             483
65               64 MANHATTAN                    723             164
66                  80 QUEENS                    582             480
68                  82 QUEENS                    452             482
63                55 BROOKLYN                    365             355
67                  81 QUEENS                    239             481
60                   26 BRONX                    163             226
62                   28 BRONX                    134             228
71           95 STATEN ISLAND                    115             595
61                   27 BRONX                    105             227
64                56 BROOKLYN                     88             356
70                  84 QUEENS                     67             484

In [ ]:
# we can make this function more concise by isolating the logic that applies to all the conditions
  def recode_borocd_counts(row):
    if row.community_board[0] != 'U':
      if 'MANHATTAN' in row.community_board:
        return '1' + row.community_board[:2]
      elif 'BRONX' in row.community_board:
        return '2' + row.community_board[:2]
      elif 'BROOKLYN' in row.community_board:
        return '3' + row.community_board[:2]
      elif 'QUEENS' in row.community_board:
        return '4' + row.community_board[:2]
      elif 'STATEN ISLAND' in row.community_board:
        return '5' + row.community_board[:2]
    else:
      return 'Invalid BoroCD'

cb_counts['borocd'] = cb_counts.apply(recode_borocd_counts, axis=1)
cb_counts

              community_board  count_of_311_requests          borocd
50               12 MANHATTAN                  81402             112
23                  05 QUEENS                  71506             405
51                  12 QUEENS                  70361             412
2                 01 BROOKLYN                  68101             301
12                03 BROOKLYN                  66360             303
5            01 STATEN ISLAND                  65145             501
31                  07 QUEENS                  63634             407
21                05 BROOKLYN                  61836             305
16                   04 BRONX                  61086             204
4                   01 QUEENS                  60425             401
58                17 BROOKLYN                  58864             317
54                14 BROOKLYN                  57194             314
28                   07 BRONX                  55735             207
59                18 BROOKLYN                  54523             318
39                  09 QUEENS                  54421             409
53                  13 QUEENS                  54003             413
48                   12 BRONX                  53688             212
45                11 BROOKLYN                  52801             311
20                   05 BRONX                  51820             205
13               03 MANHATTAN                  51399             103
42               10 MANHATTAN                  50024             110
17                04 BROOKLYN                  49552             304
35                  08 QUEENS                  49221             408
56                15 BROOKLYN                  48739             315
15           03 STATEN ISLAND                  48729             503
43                  10 QUEENS                  48707             410
49                12 BROOKLYN                  46420             312
30               07 MANHATTAN                  46230             107
36                   09 BRONX                  46044             209
7                 02 BROOKLYN                  44061             302
41                10 BROOKLYN                  43990             310
33                08 BROOKLYN                  43872             308
37                09 BROOKLYN                  42655             309
25                06 BROOKLYN                  42539             306
10           02 STATEN ISLAND                  40179             502
0               0 Unspecified                  39385            None
38               09 MANHATTAN                  39260             109
14                  03 QUEENS                  39240             403
73       Unspecified BROOKLYN                  38959  Invalid BoroCD
18               04 MANHATTAN                  38819             104
34               08 MANHATTAN                  38327             108
74      Unspecified MANHATTAN                  37652  Invalid BoroCD
44                   11 BRONX                  37505             211
22               05 MANHATTAN                  37466             105
8                02 MANHATTAN                  36688             102
29                07 BROOKLYN                  36290             307
9                   02 QUEENS                  35238             402
19                  04 QUEENS                  33501             404
40                   10 BRONX                  32879             210
32                   08 BRONX                  32807             208
47                  11 QUEENS                  32628             411
24                   06 BRONX                  32439             206
46               11 MANHATTAN                  32428             111
72          Unspecified BRONX                  30591  Invalid BoroCD
55                  14 QUEENS                  30350             414
26               06 MANHATTAN                  29874             106
11                   03 BRONX                  29738             203
57                16 BROOKLYN                  28742             316
75         Unspecified QUEENS                  28459  Invalid BoroCD
1                    01 BRONX                  27353             201
27                  06 QUEENS                  26407             406
52                13 BROOKLYN                  22156             313
3                01 MANHATTAN                  21259             101
6                    02 BRONX                  20039             202
76  Unspecified STATEN ISLAND                   3133  Invalid BoroCD
69                  83 QUEENS                   1100             483
65               64 MANHATTAN                    723             164
66                  80 QUEENS                    582             480
68                  82 QUEENS                    452             482
63                55 BROOKLYN                    365             355
67                  81 QUEENS                    239             481
60                   26 BRONX                    163             226
62                   28 BRONX                    134             228
71           95 STATEN ISLAND                    115             595
61                   27 BRONX                    105             227
64                56 BROOKLYN                     88             356
70                  84 QUEENS                     67             484

### Next, let's create the `borocd` column in the population dataset

In [ ]:
population.head()

,Borough,CD Number,CD Name,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population
0,Bronx,1,"Melrose, Mott Haven, Port Morris",138557,78441,77214,82159,91497
1,Bronx,2,"Hunts Point, Longwood",99493,34399,39443,46824,52246
2,Bronx,3,"Morrisania, Crotona Park East",150636,53635,57162,68574,79762
3,Bronx,4,"Highbridge, Concourse Village",144207,114312,119962,139563,146441
4,Bronx,5,"University Hts., Fordham, Mt. Hope",121807,107995,118435,128313,128200

In [ ]:
# Create a function recode_borocd_pop that combines and recodes the Borough and CD Number values to create a BoroCD unique ID

def recode_borocd_pop(row):
  if row.Borough == 'Manhattan':
    return str(100 + row['CD Number'])
  elif row.Borough == 'Bronx':
    return str(200 + row['CD Number'])
  elif row.Borough == 'Brooklyn':
    return str(300 + row['CD Number'])
  elif row.Borough == 'Queens':
    return str(400 + row['CD Number'])
  elif row.Borough == 'Staten Island':
    return str(500 + row['CD Number'])
  else:
    return 'Invalid BoroCD'

population['borocd'] = population.apply(recode_borocd_pop, axis=1)
population

,Borough,CD Number,CD Name,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population,borocd
0,Bronx,1,"Melrose, Mott Haven, Port Morris",138557,78441,77214,82159,91497,201
1,Bronx,2,"Hunts Point, Longwood",99493,34399,39443,46824,52246,202
2,Bronx,3,"Morrisania, Crotona Park East",150636,53635,57162,68574,79762,203
3,Bronx,4,"Highbridge, Concourse Village",144207,114312,119962,139563,146441,204
4,Bronx,5,"University Hts., Fordham, Mt. Hope",121807,107995,118435,128313,128200,205
5,Bronx,6,"East Tremont, Belmont",114137,65016,68061,75688,83268,206
6,Bronx,7,"Bedford Park, Norwood, Fordham",113764,116827,128588,141411,139286,207
7,Bronx,8,"Riverdale, Kingsbridge, Marble Hill",103543,98275,97030,101332,101731,208
8,Bronx,9,"Soundview, Parkchester",166442,167627,155970,167859,172298,209
9,Bronx,10,"Throgs Nk., Co-op City, Pelham Bay",84948,106516,108093,115948,120392,210
10,Bronx,11,"Pelham Pkwy, Morris Park, Laconia",105980,99080,97842,110706,113232,211
11,Bronx,12,"Wakefield, Williamsbridge",135010,128226,129620,149077,152344,212
12,Brooklyn,1,"Williamsburg, Greenpoint",179390,142942,155972,160338,173083,301
13,Brooklyn,2,"Brooklyn Heights, Fort Greene",110221,92732,94534,98620,99617,302
14,Brooklyn,3,Bedford Stuyvesant,203380,133379,138696,143867,152985,303
15,Brooklyn,4,Bushwick,137902,92497,102572,104358,112634,304
16,Brooklyn,5,"East New York, Starrett City",170791,154931,161350,173198,182896,305
17,Brooklyn,6,"Park Slope, Carroll Gardens",138933,110228,102724,104054,104709,306
18,Brooklyn,7,"Sunset Park, Windsor Terrace",111607,98567,102553,120063,126230,307
19,Brooklyn,8,Crown Heights North,121821,88796,96400,96076,96317,308
20,Brooklyn,9,"Crown Heights South, Wingate",101047,96669,110715,104014,98429,309
21,Brooklyn,10,"Bay Ridge, Dyker Heights",129822,118187,110612,122542,124491,310
22,Brooklyn,11,"Bensonhurst, Bath Beach",170119,155072,149994,172129,181981,311
23,Brooklyn,12,"Borough Park, Ocean Parkway",166301,155899,160018,185046,191382,312
24,Brooklyn,13,"Coney Island, Brighton Beach",97750,100030,102596,106120,104278,313
25,Brooklyn,14,"Flatbush, Midwood",137041,143859,159825,168806,160664,314
26,Brooklyn,15,"Sheepshead Bay, Gerritsen Beach",164815,149572,143477,160319,159650,315
27,Brooklyn,16,"Brownsville, Ocean Hill",122589,73801,84923,85343,86468,316
28,Brooklyn,17,"East Flatbush, Rugby, Farragut",149496,154596,161261,165753,155252,317
29,Brooklyn,18,"Canarsie, Flatlands",188643,169092,162428,194653,193543,318
30,Manhattan,1,"Battery Park City, Tribeca",7706,15918,25366,34420,60978,101
31,Manhattan,2,"Greenwich Village, Soho",84337,87069,94105,93119,90016,102
32,Manhattan,3,"Lower East Side, Chinatown",181845,154848,161617,164407,163277,103
33,Manhattan,4,"Chelsea, Clinton",83601,82164,84431,87479,103245,104
34,Manhattan,5,Midtown Business District,31076,39544,43507,44028,51673,105
35,Manhattan,6,"Stuyvesant Town, Turtle Bay",122465,127554,133748,136152,142745,106
36,Manhattan,7,"West Side, Upper West Side",212422,206669,210993,207699,209084,107
37,Manhattan,8,Upper East Side,200851,204305,210880,217063,219920,108
38,Manhattan,9,"Manhattanville, Hamilton Heights",113606,103038,106978,111724,110193,109
39,Manhattan,10,Central Harlem,159267,105641,99519,107109,115723,110
40,Manhattan,11,East Harlem,154662,114569,110508,117743,120511,111
41,Manhattan,12,"Washington Heights, Inwood",180561,179941,198192,208414,190020,112
42,Queens,1,"Astoria, Long Island City",185925,185198,188549,211220,191105,401
43,Queens,2,"Sunnyside, Woodside",95073,88927,94845,109920,113200,402
44,Queens,3,"Jackson Heights, North Corona",123635,122090,128924,169083,171576,403
45,Queens,4,"Elmhurst, South Corona",108233,118430,137023,167005,172598,404
46,Queens,5,"Ridgewood, Glendale, Maspeth",161022,150142,149126,165911,169190,405
47,Queens,6,"Forest Hills, Rego Park",120429,112245,106996,115967,113257,406
48,Queens,7,"Flushing, Bay Terrace",207589,204785,220508,242952,247354,407
49,Queens,8,"Fresh Meadows, Briarwood",142468,125312,132101,146594,151107,408
50,Queens,9,"Woodhaven, Richmond Hill",110367,109505,112151,141608,143317,409
51,Queens,10,"Ozone Park, Howard Beach",113857,105651,107768,127274,122396,410
52,Queens,11,"Bayside, Douglaston, Little Neck",127883,110963,108056,116404,116431,411
53,Queens,12,"Jamaica, St. Albans, Hollis",206639,189383,201293,223602,225919,412
54,Queens,13,"Queens Village, Rosedale",184647,173178,177535,196284,188593,413
55,Queens,14,"The Rockaways, Broad Channel",98228,100592,100596,106686,114978,414
56,Staten Island,1,"Stapleton, Port Richmond",135875,138489,137806,162609,175756,501
57,Staten Island,2,"New Springville, South Beach",85985,105128,113944,127071,132003,502
58,Staten Island,3,"Tottenville, Woodrow, Great Kills",72815,108249,126956,152908,160209,503

## Join the population data onto the counts data after creating shared `borocd` unique ID

To join dataframes together, we will use the pandas merge function: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html

![Types of joins](https://i.stack.imgur.com/hMKKt.jpg)

In [ ]:
# now lets join this population data onto our CD dataset
# the default setting for merge is an inner join

merged_data = pd.merge(left=cb_counts, right=population, left_on='borocd', right_on='borocd')
merged_data

,community_board,count_of_311_requests,borocd,Borough,CD Number,CD Name,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population
0,12 MANHATTAN,81402,112,Manhattan,12,"Washington Heights, Inwood",180561,179941,198192,208414,190020
1,05 QUEENS,71506,405,Queens,5,"Ridgewood, Glendale, Maspeth",161022,150142,149126,165911,169190
2,12 QUEENS,70361,412,Queens,12,"Jamaica, St. Albans, Hollis",206639,189383,201293,223602,225919
3,01 BROOKLYN,68101,301,Brooklyn,1,"Williamsburg, Greenpoint",179390,142942,155972,160338,173083
4,03 BROOKLYN,66360,303,Brooklyn,3,Bedford Stuyvesant,203380,133379,138696,143867,152985
5,01 STATEN ISLAND,65145,501,Staten Island,1,"Stapleton, Port Richmond",135875,138489,137806,162609,175756
6,07 QUEENS,63634,407,Queens,7,"Flushing, Bay Terrace",207589,204785,220508,242952,247354
7,05 BROOKLYN,61836,305,Brooklyn,5,"East New York, Starrett City",170791,154931,161350,173198,182896
8,04 BRONX,61086,204,Bronx,4,"Highbridge, Concourse Village",144207,114312,119962,139563,146441
9,01 QUEENS,60425,401,Queens,1,"Astoria, Long Island City",185925,185198,188549,211220,191105
10,17 BROOKLYN,58864,317,Brooklyn,17,"East Flatbush, Rugby, Farragut",149496,154596,161261,165753,155252
11,14 BROOKLYN,57194,314,Brooklyn,14,"Flatbush, Midwood",137041,143859,159825,168806,160664
12,07 BRONX,55735,207,Bronx,7,"Bedford Park, Norwood, Fordham",113764,116827,128588,141411,139286
13,18 BROOKLYN,54523,318,Brooklyn,18,"Canarsie, Flatlands",188643,169092,162428,194653,193543
14,09 QUEENS,54421,409,Queens,9,"Woodhaven, Richmond Hill",110367,109505,112151,141608,143317
15,13 QUEENS,54003,413,Queens,13,"Queens Village, Rosedale",184647,173178,177535,196284,188593
16,12 BRONX,53688,212,Bronx,12,"Wakefield, Williamsbridge",135010,128226,129620,149077,152344
17,11 BROOKLYN,52801,311,Brooklyn,11,"Bensonhurst, Bath Beach",170119,155072,149994,172129,181981
18,05 BRONX,51820,205,Bronx,5,"University Hts., Fordham, Mt. Hope",121807,107995,118435,128313,128200
19,03 MANHATTAN,51399,103,Manhattan,3,"Lower East Side, Chinatown",181845,154848,161617,164407,163277
20,10 MANHATTAN,50024,110,Manhattan,10,Central Harlem,159267,105641,99519,107109,115723
21,04 BROOKLYN,49552,304,Brooklyn,4,Bushwick,137902,92497,102572,104358,112634
22,08 QUEENS,49221,408,Queens,8,"Fresh Meadows, Briarwood",142468,125312,132101,146594,151107
23,15 BROOKLYN,48739,315,Brooklyn,15,"Sheepshead Bay, Gerritsen Beach",164815,149572,143477,160319,159650
24,03 STATEN ISLAND,48729,503,Staten Island,3,"Tottenville, Woodrow, Great Kills",72815,108249,126956,152908,160209
25,10 QUEENS,48707,410,Queens,10,"Ozone Park, Howard Beach",113857,105651,107768,127274,122396
26,12 BROOKLYN,46420,312,Brooklyn,12,"Borough Park, Ocean Parkway",166301,155899,160018,185046,191382
27,07 MANHATTAN,46230,107,Manhattan,7,"West Side, Upper West Side",212422,206669,210993,207699,209084
28,09 BRONX,46044,209,Bronx,9,"Soundview, Parkchester",166442,167627,155970,167859,172298
29,02 BROOKLYN,44061,302,Brooklyn,2,"Brooklyn Heights, Fort Greene",110221,92732,94534,98620,99617
30,10 BROOKLYN,43990,310,Brooklyn,10,"Bay Ridge, Dyker Heights",129822,118187,110612,122542,124491
31,08 BROOKLYN,43872,308,Brooklyn,8,Crown Heights North,121821,88796,96400,96076,96317
32,09 BROOKLYN,42655,309,Brooklyn,9,"Crown Heights South, Wingate",101047,96669,110715,104014,98429
33,06 BROOKLYN,42539,306,Brooklyn,6,"Park Slope, Carroll Gardens",138933,110228,102724,104054,104709
34,02 STATEN ISLAND,40179,502,Staten Island,2,"New Springville, South Beach",85985,105128,113944,127071,132003
35,09 MANHATTAN,39260,109,Manhattan,9,"Manhattanville, Hamilton Heights",113606,103038,106978,111724,110193
36,03 QUEENS,39240,403,Queens,3,"Jackson Heights, North Corona",123635,122090,128924,169083,171576
37,04 MANHATTAN,38819,104,Manhattan,4,"Chelsea, Clinton",83601,82164,84431,87479,103245
38,08 MANHATTAN,38327,108,Manhattan,8,Upper East Side,200851,204305,210880,217063,219920
39,11 BRONX,37505,211,Bronx,11,"Pelham Pkwy, Morris Park, Laconia",105980,99080,97842,110706,113232
40,05 MANHATTAN,37466,105,Manhattan,5,Midtown Business District,31076,39544,43507,44028,51673
41,02 MANHATTAN,36688,102,Manhattan,2,"Greenwich Village, Soho",84337,87069,94105,93119,90016
42,07 BROOKLYN,36290,307,Brooklyn,7,"Sunset Park, Windsor Terrace",111607,98567,102553,120063,126230
43,02 QUEENS,35238,402,Queens,2,"Sunnyside, Woodside",95073,88927,94845,109920,113200
44,04 QUEENS,33501,404,Queens,4,"Elmhurst, South Corona",108233,118430,137023,167005,172598
45,10 BRONX,32879,210,Bronx,10,"Throgs Nk., Co-op City, Pelham Bay",84948,106516,108093,115948,120392
46,08 BRONX,32807,208,Bronx,8,"Riverdale, Kingsbridge, Marble Hill",103543,98275,97030,101332,101731
47,11 QUEENS,32628,411,Queens,11,"Bayside, Douglaston, Little Neck",127883,110963,108056,116404,116431
48,06 BRONX,32439,206,Bronx,6,"East Tremont, Belmont",114137,65016,68061,75688,83268
49,11 MANHATTAN,32428,111,Manhattan,11,East Harlem,154662,114569,110508,117743,120511
50,14 QUEENS,30350,414,Queens,14,"The Rockaways, Broad Channel",98228,100592,100596,106686,114978
51,06 MANHATTAN,29874,106,Manhattan,6,"Stuyvesant Town, Turtle Bay",122465,127554,133748,136152,142745
52,03 BRONX,29738,203,Bronx,3,"Morrisania, Crotona Park East",150636,53635,57162,68574,79762
53,16 BROOKLYN,28742,316,Brooklyn,16,"Brownsville, Ocean Hill",122589,73801,84923,85343,86468
54,01 BRONX,27353,201,Bronx,1,"Melrose, Mott Haven, Port Morris",138557,78441,77214,82159,91497
55,06 QUEENS,26407,406,Queens,6,"Forest Hills, Rego Park",120429,112245,106996,115967,113257
56,13 BROOKLYN,22156,313,Brooklyn,13,"Coney Island, Brighton Beach",97750,100030,102596,106120,104278
57,01 MANHATTAN,21259,101,Manhattan,1,"Battery Park City, Tribeca",7706,15918,25366,34420,60978
58,02 BRONX,20039,202,Bronx,2,"Hunts Point, Longwood",99493,34399,39443,46824,52246

## Calculate 311 requests per capita

In [ ]:
# divide request count by 2010 population to get request per capita

merged_data['request_per_capita'] = merged_data.count_of_311_requests / merged_data['2010 Population']

merged_data.head()

,community_board,count_of_311_requests,borocd,Borough,CD Number,CD Name,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population,request_per_capita
0,12 MANHATTAN,81402,112,Manhattan,12,"Washington Heights, Inwood",180561,179941,198192,208414,190020,0.428386
1,05 QUEENS,71506,405,Queens,5,"Ridgewood, Glendale, Maspeth",161022,150142,149126,165911,169190,0.422637
2,12 QUEENS,70361,412,Queens,12,"Jamaica, St. Albans, Hollis",206639,189383,201293,223602,225919,0.311443
3,01 BROOKLYN,68101,301,Brooklyn,1,"Williamsburg, Greenpoint",179390,142942,155972,160338,173083,0.393459
4,03 BROOKLYN,66360,303,Brooklyn,3,Bedford Stuyvesant,203380,133379,138696,143867,152985,0.433768

In [ ]:
# let's create a simplified new dataframe that only include the columns we care about and in a better order

cd_data = merged_data[['borocd', 'Borough', 'CD Name', '2010 Population', 'count_of_311_requests', 'request_per_capita']]

cd_data

,borocd,Borough,CD Name,2010 Population,count_of_311_requests,request_per_capita
0,112,Manhattan,"Washington Heights, Inwood",190020,81402,0.428386
1,405,Queens,"Ridgewood, Glendale, Maspeth",169190,71506,0.422637
2,412,Queens,"Jamaica, St. Albans, Hollis",225919,70361,0.311443
3,301,Brooklyn,"Williamsburg, Greenpoint",173083,68101,0.393459
4,303,Brooklyn,Bedford Stuyvesant,152985,66360,0.433768
5,501,Staten Island,"Stapleton, Port Richmond",175756,65145,0.370656
6,407,Queens,"Flushing, Bay Terrace",247354,63634,0.257259
7,305,Brooklyn,"East New York, Starrett City",182896,61836,0.338094
8,204,Bronx,"Highbridge, Concourse Village",146441,61086,0.417137
9,401,Queens,"Astoria, Long Island City",191105,60425,0.316187
10,317,Brooklyn,"East Flatbush, Rugby, Farragut",155252,58864,0.379151
11,314,Brooklyn,"Flatbush, Midwood",160664,57194,0.355985
12,207,Bronx,"Bedford Park, Norwood, Fordham",139286,55735,0.400148
13,318,Brooklyn,"Canarsie, Flatlands",193543,54523,0.281710
14,409,Queens,"Woodhaven, Richmond Hill",143317,54421,0.379725
15,413,Queens,"Queens Village, Rosedale",188593,54003,0.286347
16,212,Bronx,"Wakefield, Williamsbridge",152344,53688,0.352413
17,311,Brooklyn,"Bensonhurst, Bath Beach",181981,52801,0.290146
18,205,Bronx,"University Hts., Fordham, Mt. Hope",128200,51820,0.404212
19,103,Manhattan,"Lower East Side, Chinatown",163277,51399,0.314796
20,110,Manhattan,Central Harlem,115723,50024,0.432274
21,304,Brooklyn,Bushwick,112634,49552,0.439938
22,408,Queens,"Fresh Meadows, Briarwood",151107,49221,0.325736
23,315,Brooklyn,"Sheepshead Bay, Gerritsen Beach",159650,48739,0.305287
24,503,Staten Island,"Tottenville, Woodrow, Great Kills",160209,48729,0.304159
25,410,Queens,"Ozone Park, Howard Beach",122396,48707,0.397946
26,312,Brooklyn,"Borough Park, Ocean Parkway",191382,46420,0.242552
27,107,Manhattan,"West Side, Upper West Side",209084,46230,0.221107
28,209,Bronx,"Soundview, Parkchester",172298,46044,0.267235
29,302,Brooklyn,"Brooklyn Heights, Fort Greene",99617,44061,0.442304
30,310,Brooklyn,"Bay Ridge, Dyker Heights",124491,43990,0.353359
31,308,Brooklyn,Crown Heights North,96317,43872,0.455496
32,309,Brooklyn,"Crown Heights South, Wingate",98429,42655,0.433358
33,306,Brooklyn,"Park Slope, Carroll Gardens",104709,42539,0.406259
34,502,Staten Island,"New Springville, South Beach",132003,40179,0.304379
35,109,Manhattan,"Manhattanville, Hamilton Heights",110193,39260,0.356284
36,403,Queens,"Jackson Heights, North Corona",171576,39240,0.228703
37,104,Manhattan,"Chelsea, Clinton",103245,38819,0.375989
38,108,Manhattan,Upper East Side,219920,38327,0.174277
39,211,Bronx,"Pelham Pkwy, Morris Park, Laconia",113232,37505,0.331223
40,105,Manhattan,Midtown Business District,51673,37466,0.725060
41,102,Manhattan,"Greenwich Village, Soho",90016,36688,0.407572
42,307,Brooklyn,"Sunset Park, Windsor Terrace",126230,36290,0.287491
43,402,Queens,"Sunnyside, Woodside",113200,35238,0.311290
44,404,Queens,"Elmhurst, South Corona",172598,33501,0.194098
45,210,Bronx,"Throgs Nk., Co-op City, Pelham Bay",120392,32879,0.273100
46,208,Bronx,"Riverdale, Kingsbridge, Marble Hill",101731,32807,0.322488
47,411,Queens,"Bayside, Douglaston, Little Neck",116431,32628,0.280235
48,206,Bronx,"East Tremont, Belmont",83268,32439,0.389573
49,111,Manhattan,East Harlem,120511,32428,0.269087
50,414,Queens,"The Rockaways, Broad Channel",114978,30350,0.263964
51,106,Manhattan,"Stuyvesant Town, Turtle Bay",142745,29874,0.209282
52,203,Bronx,"Morrisania, Crotona Park East",79762,29738,0.372834
53,316,Brooklyn,"Brownsville, Ocean Hill",86468,28742,0.332400
54,201,Bronx,"Melrose, Mott Haven, Port Morris",91497,27353,0.298950
55,406,Queens,"Forest Hills, Rego Park",113257,26407,0.233160
56,313,Brooklyn,"Coney Island, Brighton Beach",104278,22156,0.212471
57,101,Manhattan,"Battery Park City, Tribeca",60978,21259,0.348634
58,202,Bronx,"Hunts Point, Longwood",52246,20039,0.383551

Let's check out which Community Districts have the highest complaints per capita

In [ ]:
cd_data.sort_values('request_per_capita', ascending=False).head(20)

,borocd,Borough,CD Name,2010 Population,count_of_311_requests,request_per_capita
40,105,Manhattan,Midtown Business District,51673,37466,0.725060
31,308,Brooklyn,Crown Heights North,96317,43872,0.455496
29,302,Brooklyn,"Brooklyn Heights, Fort Greene",99617,44061,0.442304
21,304,Brooklyn,Bushwick,112634,49552,0.439938
4,303,Brooklyn,Bedford Stuyvesant,152985,66360,0.433768
32,309,Brooklyn,"Crown Heights South, Wingate",98429,42655,0.433358
20,110,Manhattan,Central Harlem,115723,50024,0.432274
0,112,Manhattan,"Washington Heights, Inwood",190020,81402,0.428386
1,405,Queens,"Ridgewood, Glendale, Maspeth",169190,71506,0.422637
8,204,Bronx,"Highbridge, Concourse Village",146441,61086,0.417137
41,102,Manhattan,"Greenwich Village, Soho",90016,36688,0.407572
33,306,Brooklyn,"Park Slope, Carroll Gardens",104709,42539,0.406259
18,205,Bronx,"University Hts., Fordham, Mt. Hope",128200,51820,0.404212
12,207,Bronx,"Bedford Park, Norwood, Fordham",139286,55735,0.400148
25,410,Queens,"Ozone Park, Howard Beach",122396,48707,0.397946
3,301,Brooklyn,"Williamsburg, Greenpoint",173083,68101,0.393459
48,206,Bronx,"East Tremont, Belmont",83268,32439,0.389573
58,202,Bronx,"Hunts Point, Longwood",52246,20039,0.383551
14,409,Queens,"Woodhaven, Richmond Hill",143317,54421,0.379725
10,317,Brooklyn,"East Flatbush, Rugby, Farragut",155252,58864,0.379151

While Inwood (112) had the highest number of complaints, it ranks further down on the list for requests per capita. Midtown may also be an outlier, based on it's low residential population.

## Next class we'll produce charts and maps to better visualize the differences in magnitude of the 311 requests per capita values.

# HOMEWORK 2 Coding: Using keywords to categorize 311 requests

Create a new Google Colab notebook called "HW2". 

**Problem Statement:** When you read through the `descriptor` column in the 311 data, you will see that complaints related to graffiti are actually scattered throughout multiple `complaint_type` categories. We want to identify all complaints related to graffiti and see which community districts have the most instances of graffiti.


To help make this assignment easier, I have created a smaller subset of the 311 data for you to use. It's named  `cleaned_311_data_hw2.csv` and it's shared with you on Google Drive. This smaller dataset only contains ~65,000 records from relevant complaint type categories. `df = pd.read_csv('/content/drive/My Drive/Data for Python/cleaned_311_data_hw2.csv', header='infer')`

- **Step 1**. Create a function that checks each row in the 311 dataframe to see if the word "graffiti" is present in either the `complaint_type` value or `descriptor` value. Both columns may contain the word, so you should check both. If the word "graffiti" is found, the function should return the boolean value True. If "graffiti" is not found, the function should return the boolean value False.
  - Hint 1: The same way that we checked if the string "BRONX" existed in the `community_board` value in the `cb_counts` table during the lecture, you can check if "graffiti" exists in the `descriptor` or `complaint_type` values.
  - Hint 2: The `descriptor` column contains some null/NaN values. You'll have trouble running a function on these. Before your function checks if "graffiti" is present in `descriptor`, the function should make sure that a `descriptor` value exists using `pd.notnull(row.descriptor)`
  - Hint 3: Capitalization may be inconsistent. It could help to use `.lower()` to convert strings to lowercase.

- **Step 2**. Apply the function created in Step 1 to the 311 dataframe and create a new column called `graffiti_flag` that captures the output from the function.
  - Tip: There are two checks you can use to confirm that the function worked as expected.
    - Group by `graffiti_flag` to make sure there are records tagged as True.
    - Using only the records where `graffiti_flag` is True (`sample[sample.graffiti_flag]`), group by `complaint_type` to make sure that more than one `complaint_type` is included.

- **Step 3**. Create another dataframe `df_graffiti` that only contains records where `graffiti_flag` is True. `df_graffiti = df[df.graffiti_flag]`

- **Step 4**. Group your dataframe `df_graffiti` to get the count of requests per `community_board`. Use `.nlargest()` to identify which Community District has the highest count.

Upload your Google Colab "HW2" notebook to your GitHub repository. You don't need to send me anything or submit anything via NYU Classes; I'll find your submission on GitHub.

# HOMEWORK 2 Tutorial: Intro to making charts in Python

- [Intro to producing charts using Python packages](https://colab.research.google.com/notebooks/charts.ipynb). You don't have to work through every one of these examples; just review to get familiar with what types of charts are possible and which packages are used.

## Examples to help answer HW0 questions

In [ ]:
# this works but you don't need to use double square brackets
df_filtered[['created_date']].min()

created_date    01/01/2019 01:06:59 PM
dtype: object

In [ ]:
# you only need one set of square brackets
df_filtered['created_date'].min()

'01/01/2019 01:06:59 PM'

In [ ]:
# selecting the created_date column where the created_date values are greater than '12/31'
df_filtered['created_date'][df['created_date'] > '12/31']

1153906    12/31/2018 02:55:42 AM
1154126    12/31/2018 06:02:33 AM
1154286    12/31/2018 07:41:42 AM
1154501    12/31/2018 08:29:47 AM
1154513    12/31/2018 08:31:36 AM
1154534    12/31/2018 08:37:55 AM
1154554    12/31/2018 08:40:38 AM
1154565    12/31/2018 08:42:15 AM
1154566    12/31/2018 08:42:47 AM
1154637    12/31/2018 08:56:28 AM
1154690    12/31/2018 09:07:29 AM
1154696    12/31/2018 09:08:20 AM
1154705    12/31/2018 09:08:48 AM
1154712    12/31/2018 09:09:31 AM
1154717    12/31/2018 09:10:17 AM
1154720    12/31/2018 09:10:30 AM
1154802    12/31/2018 09:23:37 AM
1154957    12/31/2018 09:47:16 AM
1155100    12/31/2018 10:00:51 AM
1155131    12/31/2018 10:07:44 AM
1155161    12/31/2018 10:11:58 AM
1155256    12/31/2018 10:21:04 AM
1155275    12/31/2018 10:24:38 AM
1155306    12/31/2018 10:29:15 AM
1155329    12/31/2018 10:31:30 AM
1155330    12/31/2018 10:31:32 AM
1155402    12/31/2018 10:38:45 AM
1155516    12/31/2018 10:49:49 AM
1155521    12/31/2018 10:50:07 AM
1155530    12/31/2018 10:51:32 AM
1155627    12/31/2018 11:01:50 AM
1155639    12/31/2018 11:02:41 AM
1155671    12/31/2018 11:06:04 AM
1155674    12/31/2018 11:06:31 AM
1155710    12/31/2018 11:12:18 AM
1155843    12/31/2018 11:26:10 AM
1155862    12/31/2018 11:27:53 AM
1155915    12/31/2018 11:35:45 AM
1155934    12/31/2018 11:38:31 AM
1156018    12/31/2018 11:49:55 AM
1156019    12/31/2018 11:49:56 AM
1156028    12/31/2018 11:50:41 AM
1156033    12/31/2018 11:51:21 AM
1156039    12/31/2018 11:52:04 AM
1156043    12/31/2018 11:52:59 AM
1156044    12/31/2018 11:53:00 AM
1156058    12/31/2018 11:54:03 AM
1156078    12/31/2018 11:55:47 AM
1156083    12/31/2018 11:56:38 AM
1156087    12/31/2018 11:57:06 AM
1156097    12/31/2018 11:58:07 AM
1156112    12/31/2018 12:00:04 PM
1156118    12/31/2018 12:01:43 PM
1156148    12/31/2018 12:04:33 PM
1156151    12/31/2018 12:04:41 PM
1156166    12/31/2018 12:06:27 PM
1156240    12/31/2018 12:17:26 PM
1156273    12/31/2018 12:22:47 PM
1156283    12/31/2018 12:23:28 PM
1156316    12/31/2018 12:27:52 PM
1156333    12/31/2018 12:30:10 PM
1156371    12/31/2018 12:37:50 PM
1156456    12/31/2018 12:46:22 PM
1156471    12/31/2018 12:47:59 PM
1156488    12/31/2018 12:51:15 PM
1156558    12/31/2018 12:56:59 PM
1156592    12/31/2018 01:01:56 PM
1156632    12/31/2018 01:07:33 PM
1156692    12/31/2018 01:16:52 PM
1156759    12/31/2018 01:23:40 PM
1156803    12/31/2018 01:30:34 PM
1156905    12/31/2018 01:43:19 PM
1156991    12/31/2018 01:57:40 PM
1157001    12/31/2018 01:59:27 PM
1157295    12/31/2018 02:43:28 PM
1157331    12/31/2018 02:51:37 PM
1157465    12/31/2018 03:12:34 PM
1157606    12/31/2018 03:37:43 PM
1157637    12/31/2018 03:46:05 PM
1157644    12/31/2018 03:47:26 PM
1157794    12/31/2018 04:14:36 PM
1157819    12/31/2018 04:19:03 PM
1157996    12/31/2018 04:52:40 PM
1158045    12/31/2018 05:01:35 PM
1158218    12/31/2018 05:38:46 PM
1158255    12/31/2018 05:45:05 PM
1158576    12/31/2018 06:55:17 PM
1158668    12/31/2018 07:20:34 PM
1158838    12/31/2018 08:16:14 PM
1159052    12/31/2018 09:11:30 PM
1159101    12/31/2018 09:21:05 PM
1159308    12/31/2018 10:13:43 PM
1159349    12/31/2018 10:24:22 PM
1159580    12/31/2018 11:24:38 PM
Name: created_date, dtype: object

In [ ]:
# if you want to select more than one column, you have to provide the column names as a list
# so you will have two sets of square brackets df_filtered[['created_date','unique_key']]
df_filtered[['created_date','unique_key']][df_filtered['created_date'] > '12/31']

In [ ]:
# it's also possible to select the rows first then columns, but it's best practice to select columns first then rows
df_filtered[df_filtered.created_date > '12/31'][['created_date','unique_key']]

                   created_date  unique_key
1153906  12/31/2018 02:55:42 AM    41314681
1154126  12/31/2018 06:02:33 AM    41314737
1154286  12/31/2018 07:41:42 AM    41307887
1154501  12/31/2018 08:29:47 AM    41309747
1154513  12/31/2018 08:31:36 AM    41307590
1154534  12/31/2018 08:37:55 AM    41309141
1154554  12/31/2018 08:40:38 AM    41313808
1154565  12/31/2018 08:42:15 AM    41312845
1154566  12/31/2018 08:42:47 AM    41306554
1154637  12/31/2018 08:56:28 AM    41313608
1154690  12/31/2018 09:07:29 AM    41314167
1154696  12/31/2018 09:08:20 AM    41313428
1154705  12/31/2018 09:08:48 AM    41307369
1154712  12/31/2018 09:09:31 AM    41308547
1154717  12/31/2018 09:10:17 AM    41308385
1154720  12/31/2018 09:10:30 AM    41311504
1154802  12/31/2018 09:23:37 AM    41313073
1154957  12/31/2018 09:47:16 AM    41314727
1155100  12/31/2018 10:00:51 AM    41312751
1155131  12/31/2018 10:07:44 AM    41308266
1155161  12/31/2018 10:11:58 AM    41313138
1155256  12/31/2018 10:21:04 AM    41310506
1155275  12/31/2018 10:24:38 AM    41314687
1155306  12/31/2018 10:29:15 AM    41308368
1155329  12/31/2018 10:31:30 AM    41309414
1155330  12/31/2018 10:31:32 AM    41307336
1155402  12/31/2018 10:38:45 AM    41313250
1155516  12/31/2018 10:49:49 AM    41309702
1155521  12/31/2018 10:50:07 AM    41307232
1155530  12/31/2018 10:51:32 AM    41313796
1155627  12/31/2018 11:01:50 AM    41308309
1155639  12/31/2018 11:02:41 AM    41310501
1155671  12/31/2018 11:06:04 AM    41313074
1155674  12/31/2018 11:06:31 AM    41313809
1155710  12/31/2018 11:12:18 AM    41307377
1155843  12/31/2018 11:26:10 AM    41313847
1155862  12/31/2018 11:27:53 AM    41311754
1155915  12/31/2018 11:35:45 AM    41309463
1155934  12/31/2018 11:38:31 AM    41310443
1156018  12/31/2018 11:49:55 AM    41308395
1156019  12/31/2018 11:49:56 AM    41307552
1156028  12/31/2018 11:50:41 AM    41310540
1156033  12/31/2018 11:51:21 AM    41306923
1156039  12/31/2018 11:52:04 AM    41312191
1156043  12/31/2018 11:52:59 AM    41312651
1156044  12/31/2018 11:53:00 AM    41307551
1156058  12/31/2018 11:54:03 AM    41307888
1156078  12/31/2018 11:55:47 AM    41312190
1156083  12/31/2018 11:56:38 AM    41307550
1156087  12/31/2018 11:57:06 AM    41313764
1156097  12/31/2018 11:58:07 AM    41311607
1156112  12/31/2018 12:00:04 PM    41312189
1156118  12/31/2018 12:01:43 PM    41308394
1156148  12/31/2018 12:04:33 PM    41312117
1156151  12/31/2018 12:04:41 PM    41313237
1156166  12/31/2018 12:06:27 PM    41314171
1156240  12/31/2018 12:17:26 PM    41310433
1156273  12/31/2018 12:22:47 PM    41306944
1156283  12/31/2018 12:23:28 PM    41313793
1156316  12/31/2018 12:27:52 PM    41310508
1156333  12/31/2018 12:30:10 PM    41311560
1156371  12/31/2018 12:37:50 PM    41311734
1156456  12/31/2018 12:46:22 PM    41308561
1156471  12/31/2018 12:47:59 PM    41314170
1156488  12/31/2018 12:51:15 PM    41314172
1156558  12/31/2018 12:56:59 PM    41311030
1156592  12/31/2018 01:01:56 PM    41311758
1156632  12/31/2018 01:07:33 PM    41314158
1156692  12/31/2018 01:16:52 PM    41308396
1156759  12/31/2018 01:23:40 PM    41310065
1156803  12/31/2018 01:30:34 PM    41311470
1156905  12/31/2018 01:43:19 PM    41311546
1156991  12/31/2018 01:57:40 PM    41310551
1157001  12/31/2018 01:59:27 PM    41313984
1157295  12/31/2018 02:43:28 PM    41306265
1157331  12/31/2018 02:51:37 PM    41308505
1157465  12/31/2018 03:12:34 PM    41311499
1157606  12/31/2018 03:37:43 PM    41307205
1157637  12/31/2018 03:46:05 PM    41313607
1157644  12/31/2018 03:47:26 PM    41312841
1157794  12/31/2018 04:14:36 PM    41306272
1157819  12/31/2018 04:19:03 PM    41312753
1157996  12/31/2018 04:52:40 PM    41311512
1158045  12/31/2018 05:01:35 PM    41308362
1158218  12/31/2018 05:38:46 PM    41308278
1158255  12/31/2018 05:45:05 PM    41311555
1158576  12/31/2018 06:55:17 PM    41312510
1158668  12/31/2018 07:20:34 PM    41312003
1158838  12/31/2018 08:16:14 PM    41314500
1159052  12/31/2018 09:11:30 PM    41309836
1159101  12/31/2018 09:21:05 PM    41312511
1159308  12/31/2018 10:13:43 PM    41307520
1159349  12/31/2018 10:24:22 PM    41308265
1159580  12/31/2018 11:24:38 PM    41306546