# Lecture 2: Manipulating and combining data

_Note to self: Take attendance._

- How was the homework?
- Questions from the recorded lecture?

## [Boolean indexing](https://pandas.pydata.org/docs/user_guide/10min.html#boolean-indexing)

What is it for?

In [1]:
import pandas as pd

people = pd.DataFrame(
    {
        "names": ["Fred", "Krishna", "Saron", "Sally"],
        "age": [50, 13, 45, 22],
    }
)
people

     names  age
0     Fred   50
1  Krishna   13
2    Saron   45
3    Sally   22

In [2]:
people["age"]

0    50
1    13
2    45
3    22
Name: age, dtype: int64

In [3]:
type(people["age"])

pandas.core.series.Series

In [4]:
over_40 = people["age"] > 40
over_40

0     True
1    False
2     True
3    False
Name: age, dtype: bool

In [5]:
type(over_40)

pandas.core.series.Series

In [6]:
people[over_40]

   names  age
0   Fred   50
2  Saron   45

## Data cleaning

When have you needed to clean data?

What are continuous values?

What are categorical values?

### Things to check for

From [my workshop on data cleaning](https://github.com/afeld/data-cleaning):

- Missing data
   - Empty values
- Bad (junk) values
   - Duplicates
   - Mismatched types/formatting
- Categorical values
   - Uniqueness (cardinality)
   - Value counts
- Continuous values
   - Ranges
   - Spread (distribution)

Notes:

- "Values" in this case can be a single cell (in the spreadsheet sense) or a whole row
- "Missing" or "duplicates" can be columns (Series), tables (DataFrames), rows, or cells

### Data cleaning [mnemonic](https://literaryterms.net/mnemonic/)

- Empty
- Bad
- Unique
- Spread

## [In-class exercise](https://python-public-policy.afeld.me/en/{{school_slug}}/lecture_2_exercise.html)